/*##### DEFAULTS #####*/

nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

a,
h1,
h2,
h3,
p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-025 {
    width: 2.08%;
}

.col-05 {
    width: 4.17%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*##### Nav Bar #####*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #F3755E;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*box-shadow: -2px!*H*! -2px!*V*! 20px!*B*! 2px!*S*! rgba(0!*Sh*!, 0!*BG*!, 0!*BX*!, .15!*Opacity*!), 2px 2px 17px 2px rgba(0,0,0,1);*/
}

ul.topnav li {
    list-style: none;
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: left;
    padding: 20px;
    color: #fff;
}

ul.topnav li a:hover {
    background-color: #E5E5E5;
    color: #F3755E;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/*##### Dropdown button #####*/
.dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #E5E5E5;
    color: #F3755E;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #666666;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: left;
}

/*.dropdown:hover .dropbtn {*/
/*background-color: #3e8e41;*/
/*}*/

.show {
    display: block;
}

/*##### Header Main Content #####*/
.mainContent {
    /*background-color: #F3755E;*/
    background: url("assets/main_bg.png");
    background-size: 100% 100%;
}

.headerLeftSide-col {
    padding-left: 20%;
}

.headerTitle {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.headerParagraph {
    color: #FFFFFF;
    line-height: 1.8;
}

.headerButton {
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-color: #282828;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin-top: 65px;
    border: none;
    border-radius: 25px;
}

.headerImage {
    display: block;
    margin: auto;
    width: 250px;
    height: auto;
}

/*##### Motivation && Content #####*/

div h1.contentTitle {
    font-size: 120px;
    font-weight: 100;
    color: #4D4D4D;
    margin: 0;
    padding: 40px 10% 0 10%;
}

.imgGitHub {
    height: 250px;
    width: auto;
    margin: auto;
    display: block;
}

div.motivationContent div.row {
    padding: 50px;
}

div.motivationContent p {
    line-height: 1.8;
}


/*##### Bottom Content #####*/
div.bottomContent {
    background-color: #E5E5E5;
}

div.bottomContent h1.contentTitle {
    padding-bottom: 40px;
}

div.bottomContent h1.contentTitle {
    text-align: center;
}

button.bottomButton {
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-color: #F05033;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
    margin: auto;
    border: none;
    width: 100%;
    border-radius: 15px;
}

div.bottomButtonGroup {
    margin: 0 80px 0 80px;
    padding: 5px 30px 30px 30px;
}

div.bottomButtonGroup div.col-4 {
    padding: 30px;
}

/*##### Footer #####*/
footer.bottomFooter {
    padding: 20px;
    background-color: #666666;
}

footer.bottomFooter img.footerImg {
    width: auto;
    height: 20px;
    margin: auto;
    display: block;
}

/*##### Mobile #####*/
@media screen and (max-width: 680px) {
    /*##### Top Content #####*/
    ul.topnav li:not(:nth-child(5)) {
        display: none;
    }

    ul.topnav li {
        float: left;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    a.dropbtn {
        width: 100%;
    }

    div.dropdown-content {
        width: 100%;
    }

    div.dropdown-content a {
        margin-left: 30px;
    }

    div.container div.row div.col-7 {
        width: 100%;

    }

    div.container div.row div.col-7 div.headerLeftSide-col {
        padding: 0;
        margin: 30px;
        text-align: center;
    }

    button.headerButton {
        display: block;
        margin: 50px auto auto;
    }

    div.container div.col-5 {
        display: block;
        margin: auto;
    }

    img.headerImage {
        width: 100px;
    }

    /*##### Motivation Content #####*/
    div.motivationContent h1.contentTitle {
        font-size: 100px;
        text-align: center;
        padding-bottom: 0;
    }

    div.motivationContent div.col-5,
    div.motivationContent div.col-7 {
        width: 100%;
    }

    div.motivationContent img.imgGitHub {
        display: none;
    }

    div.motivationContent div.row {
        padding-top: 10px;
    }

    /*##### Bottom Content #####*/
    div.bottomContent h1.contentTitle {
        font-size: 100px;
        text-align: center;
        padding-bottom: 0;
    }

    div.bottomContent div.col-4 {
        width: 50%;
    }

    /*##### Footer #####*/
    footer.bottomFooter div.col-05 {
        width: 8.33%;
    }

    footer.bottomFooter div.col-5 {
        width: 33.33%;
    }

}