/*##### DEFAULTS #####*/

nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

a,
h1,
h2,
h3,
p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-025 {
    width: 2.08%;
}

.col-05 {
    width: 4.17%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

div.content1,
div.content2,
div.content3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*##### Title #####*/
div.titleBar {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #F05033;

}
div.titleBar h1.titleBarTitle {
    color: #fff;
    font-weight: 100;
    font-size: 50px;
    margin: 0;
    padding: 20px 0 20px 100px;
}

/*##### Content #####*/

h1.contentTitle {
    font-size: 70px;
    font-weight: 100;
    color: #4D4D4D;
    margin-bottom: 0;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
}

div.content p {
    line-height: 1.5;
    padding-left: 20%;
    padding-right: 20%;
}

/*##### Content2 #####*/
div.content2 {
    background-color: #E5E5E5;
    text-align: right;
}

div.content2 ul.listItems {
    padding-left: 21%;
    padding-right: 21%;
    float: right;
    direction: rtl;
}

div.content2 ul.listItems a {
    line-height: 1.5;
}

/*##### Content3 #####*/
div.content3 ul.listItems {
    padding-left: 21%;
    padding-right: 21%;
}

div.content3 ul.listItems a {
    line-height: 1.5;
}

/*##### Bottom Navigation #####*/
div.bottomNavigation {
    background-color: #F05033;
    opacity: 0.58;
    text-align: center;
}

div.bottomNavigation h2 {
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 100;
}

div.bottomNavigation a {
    text-decoration: none;
}

/*##### Footer #####*/
footer.bottomFooter {
    padding: 20px;
    background-color: #666666;
}

footer.bottomFooter img.footerImg {
    width: auto;
    height: 20px;
    margin: auto;
    display: block;
}




/*##### Mobile #####*/
@media screen and (max-width: 680px) {

    /*##### Footer #####*/
    footer.bottomFooter div.col-05 {
        width: 8.33%;
    }

    footer.bottomFooter div.col-5 {
        width: 33.33%;
    }
}